<div *ngIf="boat" class="boat-detail-container">
  <div class="boat-header">
    <h2>{{ boat.name }}</h2>
    <p class="boat-type">{{ boat.description }}</p>
  </div>

  <div class="boat-properties">
    <div class="boat-property">
      <span class="property-label">Owner:</span>
      <span class="property-value">Mr xxx</span>
    </div>
    <div class="boat-property">
      <span class="property-label">Year Built:</span>
      <span class="property-value">20XX</span>
    </div>
    <div class="boat-property">
      <span class="property-label">Engine Type:</span>
      <span class="property-value">XXX</span>
    </div>
    <div class="boat-property">
      <span class="property-label">Capacity:</span>
      <span class="property-value">XXX people</span>
    </div>
  </div>
</div>

